/* Google Fonts Import Link */


/*** Landing-Page *******/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}

.search-box{
	border: 2px solid black;
	border-radius: 10px;
	width: 40%;
	height: 35px;
}

.img0{
	float: left;
	border-radius: 100px;
	width: 200px;
	border: 3px solid #11101d;
}

.p0{
	width: 50%;
}


.container0{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 97vh;
	background-color: 
}

.container0 .box{
	width: 300px;
	height: 200px;
	border-radius: 10px;
	background: #11101d;
	margin: 10px;
	position: relative;
	box-shadow: 0px 0px 15px background;
	transition: .3s all ease-in-out; 
}

.container0 .box .box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 15px;
	text-align: center;
}

.container0 .box .box-container #icon{
	color: blue;
	font-size: 50px;
	padding: 15px;
} 

.container0 .box .box-container .title{
	font-size: 18px;
	color: #E4E9F7;
	font-weight: bold;
	padding: 10px;
}

.container0 .box a{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.container0 .box:hover{
	background: linear-gradient(130deg, #503bff 0%, #8293ff 100%)
	box-shadow: none;
}

.container0 .box:hover #icon,
.container0 .box:hover .title{
	color: white;
	transition: .3s all ease-in-out;
}



/********  Login-page ********/




.container1{
	width: 300px;
	height: 450px;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(0.3px);
	-webkit-backdrop-filter: blur(0.3px); 
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	margin: 80px auto;
}

.img1{
	width: 100px;
	position: absolute;
	top: -40px;
	left: 33%;
}

.h2{
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin-top: -10px;
}

.form-login{
	margin: 30px;
}

.l1{
	display: block;
	color: white;
	margin-top: 10px;
}

.data{
	display: block;
	width: 80%;
	background: transparent;;
	border: none;
	outline: none;
	border-bottom: 1px solid white; 
	padding: 10px;
	color: black;
}

::placeholder{
	color: black;
	opacity: 0.4;
}

.btn-0{
	width: 90%;
	margin-top: 10px;
	padding: 8px;
	border: none;
	outline: none;
	background: #11101d;
	color: white;
	font-size: 17px;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 5px;
	margin-top: 10px; 
}

.btn-0 .span0{
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.btn-0 .span0:after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -15px;
	transform: 0.5s;
}

.btn-0:hover .span0{
	padding-right: 25px;
}

.btn-0:hover .span0:after{
	opacity: 1;
	right: 0;
}

.link{
	margin-left: 25%;
	text-decoration: none;
	color: white; 
}




/******* Courses-Page **************/



.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #92c9e6;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #d1e8f5;
}

/*responsive*/

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}


.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}



/********* Mail-Page *********/

#icon{
	font-size: 20px;
}






/*********** Settings-Page ******************/


.img0{
	margin: 20px;
	width: 150px;
}


.btn-1{
	width: 100px;
	height: 30px;
	border: 3px solid E4E9F7;
	border-radius: 5px;
	margin: 20px;
}

.btn-1:hover{
	color: blue;
}

.link-a{
	color: black;
	text-decoration: none;
	font-size: 20px; 
	margin: 20px;
}

.link-a:hover{
	color: E4E9F7;
}